{% extends 'base.html' %}
{% block content %}

<h1>Flower List</h1>

<div class="flower-cards">
  {% for flower in flowers %}
  
  <div class="card small">
      <a href="{% url 'detail' flower.id %}">
        <div class="card-image">
          <img class="flower-image" src="{{ flower.image }}" alt="{{ flower.name }} image">
          <span class="card-title">{{ flower.name }}</span>
        </div>
        <div class="card-content">
          <p>Type: {{ flower.plantType }}</p>
          <p>Bloom Time: {{ flower.bloom }}</p>
          {% if flower.deerResistant %}
          <p>Deer Resistant: Yes</p>
          {% else %}
          <p>Deer Resistant: No</p>
          {% endif %}
        </div>
      </a>  
    </div>
  {% endfor %}
</div>

{% endblock %}
