{% extends 'base.html' %}
{% block content %}

<h1>About Me!</h1>
<hr>
<p>My name is Kevin Dias and I'm a full-stack engineer.</p>
<p>Creating clean, exciting, and accessible user experiences really drives my passions and goals.</p>
<p>Learning every single day while solving unique problems fuels me and causes me to continue to grow, play, and explore new avenues in software development.</p>
<hr>
<h5>Socials</h5>
<p><a href="https://kevinvdias.netlify.app/">Portfolio</a></p>
<p><a href="https://www.linkedin.com/in/saidnivek/">LinkedIn</a></p>
<p><a href="https://github.com/SaidNivek">GitHub</a></p>

{% endblock %}
